.masterCont {
  background-color: #a9a9aa;
  margin: -10px -10px -10px -10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.roundedEdgeCont {
  background-color: lightgrey;
  border-radius: 3.5%;
  display: block;
  margin: 20px 100px 50px 100px;
}
.canvas {
  display: block;
  width: 1000px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 0px auto;
}
.palette{
  margin-top: 20px;
  margin-left: 52px;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  height: 160px;
  width: 90%;
}
